doctype html
html
  head
    meta(charset='utf-8')
    title Exhibit
    link(rel='stylesheet' href='./css/style.css')

  body
    canvas#board

    script(src='./js/classes.js')
    script(src='./js/main.js')
